body {
    color: rgba(94,93,82,1);
}

H1 {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
    text-align: center;
}

th {
    background-color: rgb(49, 178, 42);
    border: 1px solid rgb(46, 178, 139);
    font-weight: normal;
    color: white;
    padding: .75em;
}

tr {
    margin-bottom: 1em;
    border-width: 1px;
    background-color: rgba(94,93,82,.1);
    padding: .75em;
}

button, .inputSubmit {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
}
button:hover, .inputSubmit:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
button:active, .inputSubmit:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

.error {
    color: red;
}